<% amv_post = post.amv_post %>
<p style="color: #aaa">
  Editors: <%= amv_post.editor_list %>
</p>
<p style="color: #aaa">
  Animes / Sources: <%= amv_post.source_list %>
</p>
<p style="color: #aaa">
  Studios: <%= amv_post.studio_list %>
</p>
