<select class="tag-select" multiple role="combobox">
  <% Kf::AmvPost.tags_on(:editors).each do |editor_tag| %>
    <option value="<%= editor_tag.id %>"><%= editor_tag.name %></option>
  <% end %>
</select>
